body {
    background-color: #000;
    color: #00ff00;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #111;
    border-bottom: 2px solid #00ff00;
}

.foto-perfil {
    width: 150px;
    border-radius: 50%;
    margin: 20px 0;
    box-shadow: 0 0 15px #00ff00;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #00ff00;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, text-shadow 0.3s;
}

nav a:hover {
    color: #00cc00;
    text-shadow: 0 0 10px #00ff00;
}

.icone-github {
    width: 30px;
    vertical-align: middle;
    filter: invert(34%) sepia(84%) saturate(543%) hue-rotate(80deg) brightness(95%) contrast(90%); /* Aplica cor verde */
    transition: transform 0.3s, filter 0.3s;
}

.icone-github:hover {
    transform: scale(1.1);
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(80deg) brightness(100%) contrast(100%); /* Intensifica a cor ao passar o mouse */
}


section {
    padding: 40px 20px;
}

h1, h2 {
    margin-bottom: 20px;
    text-shadow: 0 0 10px #00ff00;
}
